*.user
/client/build*
/server/build*
/client/build/Right-Debug*
/server/build/Right-Debug*
*.user
*.1e19004
*.user
*.141cce0
*.ff08bcc
*.user
*.qmake
*.qtc_clangd
*.idx
/server/build
/server/build/Right-Debug
