*.user
/client/build*
/server/build*
/client/build/Right-Debug*
/server/build/Right-Debug*
*.user
*.1e19004
*.user
*.141cce0
*.ff08bcc
*.user
*.qmake
*.qtc_clangd
*.idx
/server/build
/server/build/Right-Debug
/client/build
/client/build/Right-Debug
client/build/Right-Debug/.qtc_clangd/.cache/clangd/index/mainwindow.cpp.70B43358724FF8C9.idx
client/build/Right-Debug/.qtc_clangd/.cache/clangd/index/mainwindow.h.5A5F47180EADD25A.idx
server/build/Right-Debug/.qtc_clangd/.cache/clangd/index/server.cpp.D6CA4E6DD6B8DCDC.idx
server/build/Right-Debug/.qtc_clangd/.cache/clangd/index/server.h.E738C383C375F571.idx
server/build/Right-Debug/server
server/build/Right-Debug/server.o
/client/build
client/build/Right-Debug/mainwindow.o
client/client.pro.user
server/build/Right-Debug/.qtc_clangd/.cache/clangd/index/server.cpp.D6CA4E6DD6B8DCDC.idx
server/build/Right-Debug/server
server/build/Right-Debug/server.o
server/server.pro.user
client/build/Right-Debug/.qtc_clangd/.cache/clangd/index/mainwindow.cpp.70B43358724FF8C9.idx
client/build/Right-Debug/.qtc_clangd/.cache/clangd/index/mainwindow.cpp.70B43358724FF8C9.idx
client/build/Right-Debug/client
client/build/Right-Debug/Makefile
client/build/Right-Debug/moc_mainwindow.o
server/build/Right-Debug/server.o
server/build/Right-Debug/server
client/build/Right-Debug/client
/client/build
/client/build
